{% extends 'home/base-solidnavbar.html' %}
{% load static %}

{% block custom-css %}
    <!-- Custom CSS for this particular html -->
    <style>
        h1, h2, h3, p {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        h2 {
            color: white;
            background: #2F2F2E;
            padding: 30px;
            margin-right: 20%;
            margin-left: 20%;
        }
        h3 {
            margin-right: 25%;
            margin-left: 25%;
        }
        p {
            font-size: 20px;
        }
    </style>
{% endblock %}
{% block head-footer %}
<div class="content" style="padding-top:65px; min-height:100%;">
    {% if user.is_authenticated %}
        <h2>Hello <i>{{request.user.last_name}}</i>, welcome to my last story task</h2>
        <h3>It's been a great time of me studying the basics of web
            developement.<h3>
        <h3>I've learned a lot, whether it's the hard skill of web developement
            as it supposed to, either it's time management to do this weekly story stuff.
            Anyway, i've enjoyed it.</h3>
        <p>Ok, that's it, you may <a href="logout/">logout</a></p>
    <br>
    {% else %}
        <h2>Hello and welcome!</h1>
        <h1>You are not logged in!</h1>
        <h3>Please
            <a href="register/">register</a> or
            <a href="login/">login</a> first.</h3>
    {% endif %}
    
</div>
{% endblock %}