{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Naufal Sani</title>
    <link rel="shortcut icon" href="{% static 'home/images/favicon.png' %}" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js" integrity="sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/fonts.css' %}" />
    {% block custom-css %}<! If there is some update, just add this block to the html>{% endblock %}
  </head>
  
  <body>
    
    <div class="{% block bg-intro %}bg-intro{% endblock %}" >
      <nav class="navbar navbar-expand-md navbar-light sticky-top navbar-custom">
        <a class="navbar-brand" href="/"><img style="width: 35px; height: 35px;" src="{% static 'home/images/favicon.png' %}"></a>
        <a class="navbar-brand" href="/"><span style="color: #ffffff;">Naufal Sani's Web</span></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target" style="background: #ffffff;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapse_target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" style="color: white;" href="/#intro">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" href="/#about">About</a></li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" href="/#my-adventure">My Adventure</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
                Story
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="text-align:center;">
                  <a class="dropdown-item" href="/matkul">Course</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/activity">Activity</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/accordion">Accordion</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search">AJAX</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/djangologin">Login</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" href="/#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      
{% block head-footer %}

{% endblock %}

    <section id="contact">
      <div class="row">
        <div class="col-6">
          <br><br>
          <h1 style="text-align:right">Contact</h1>
        </div>
        <div class="col-6">
          <br><br>
          <a href="https://www.instagram.com/afalsani/">
            <img style="width: 50px; height: 50px;" src="{% static 'home/images/instagram.webp' %}" alt="Instagram">
          </a>
          <a href="https://www.linkedin.com/in/naufal-sani-19271a192/">
            <img style="width: 50px; height: 50px;" src="{% static 'home/images/linkedin.webp' %}" alt="Linkedin">
          </a>
          <p>Email: naufalsani2001@gmail.com</p>
        </div>
      </div>
    </section>
</html>