{% extends 'home/base.html' %}
{% load static %}
{% block head-footer %}
  
  
    <section id="intro">
        <div class="intro-text">
          <h2>Hello and welcome to my website!</h2>
          <h1>Naufal Sani</h1>
          <h3>A computer Science Student</h3>
        </div>
      </div>
    </section>
    
    <section id="about">
      <br><br>
      <h1>About</h1>
      <hr>
      <div class="row" style="margin-top: 30px">
        <div class="col-12 d-flex justify-content-center">
          <div class="introduction">
            <img src="{% static 'home/images/pp.jpg' %}" alt="Profile Picture">
            <h2 class="lead">Naufal Sani</h2>
            <p class="lead">A Computer Science Student. A learner, a listener. I love riddle question and will try my best to solve it. My favorite movie is 3 Idiots, just because it is funny in someway.</p>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 30px">
        <div class="col-12 d-flex justify-content-center">
          <div class="likes">
            <a href="likes">
              <button>Click me!</button>
            </a>
            <h2 class="lead">Get to know me!</h2>
            <p class="lead">Click the button to see things that i like.</p>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <a href="1st-html">
                <button>Check out my 1st HTML!</button>
            </a>
        </div>
      </div>
      <br><br>
    </section>
    
    <section id="my-adventure">
      <br><br>
      <h1>My Adventure</h1>
      <hr>
      <p style="text-align: center; font-size:20px;"><i>"Here are my adventure, my journey. My past, i enjoyed and i'll remember"</i></p>
      
      <h2>My Education</h2>
        <div class="row">
          <div class="col-md-4">
            <a href="https://www.instagram.com/smpmuhammadiyahcileungsi/">
              <img class="circle-img" href="https://www.cs.ui.ac.id/" src="{% static 'home/images/smpm1c.png' %}" alt="SMP">
            </a>
            <hr>
            <h3>SMP Muhammadiyah 1 Cileungsi</h3>
            <h4>2013-2016</h4>
          </div>
          <div class="col-md-4">
            <a href="https://sman1cileungsi.sch.id/">
              <img class="circle-img" src="{% static 'home/images/nepalc.png' %}" alt="SMA">
            </a>
            <hr>
            <h3>SMA Negeri 1 Cileungsi<h3>
            <h4>2016-2019</h4>
          </div>
          <div class="col-md-4">
            <a href="https://www.cs.ui.ac.id/">
              <img class="circle-img" src="{% static 'home/images/fasilkomc.png' %}" alt="Universitas">
            </a>
            <hr>
            <h3>Unviersitas Indonesia Jurusan Ilmu Komputer</h3>
            <h4>2019-sekarang</h4>
          </div>
        </div>
        
      <h2>My Experience</h2>
        <div class="row">
          <div class="col-md-4">
            <a href="https://www.instagram.com/pmbfasilkomui/">
              <img class="circle-img" href="https://www.cs.ui.ac.id/" src="{% static 'home/images/pmbc.png' %}" alt="PMB Fasilkom 2020">
            </a>
            <hr>
            <h3>Staf at New Student Orientation Fasilkom UI 2020</h4>
            <h4>Documentation Division</h4>
          </div>
          <div class="col-md-4">
            <a href="https://bem.cs.ui.ac.id/">
              <img class="circle-img" src="{% static 'home/images/bemc.png' %}" alt="BEM Fasilkom">
            </a>
            <hr>
            <h3>Staf at BETIS UI 2020</h3>
            <h4>Academic Division</h4>
          </div>
          <div class="col-md-4">
            <a href="https://www.instagram.com/betisfasilkomui/">
              <img class="circle-img" src="{% static 'home/images/betisc.png' %}" alt="Betis">
            </a>
            <hr>
            <h3>Staf at BEM Fasilkom UI 2020</h3>
            <h4>Academic and Leadership Division</h4>
          </div>
        </div>
      <br><br>
    </section>
    
{% endblock %}