{% extends 'home/base.html' %}
{% load static %}
{% block bg-intro %} bg-intro-likes {% endblock %}
{% block head-footer %}
    <section id="intro-likes">
        <div class="intro-text">
          <h2>What i most love is my</h2>
          <h1>FAMILY</h1>
          <h3>These are my siblings</h3>
        </div>
      </div>
    </section>
    
    <section id="likes-content">
    <br><br>
    <div class="row">
      <div class="col-md-6 likes-content1">
        <img style="width: auto; height: 40vh;" src="{% static 'home/images/likes-content1.jpg' %}">
      </div>
      <div class="col-md-6 likes-content1">
        <p><b>My parent!</b></p>
        <hr>
        <p>It's obvious, that I love my parent more than anything. Just like how they love their children</p>
      </div>
    </div>
    <br><br>
      <div class="row">
        <div class="col-md-6 likes-content1">
          <p><b> CATS! </b></p>
          <hr>
          <p>I love cats so much, but right now, i do not own one T_T</p>
          <p>Wait, excuse me, i mean no cat owns me right now.</p>
        </div>
        <div class="col-md-6 likes-content1">
          <img style="width: 200px; height: 300px;" src="{% static 'home/images/cat.png' %}">
        </div>
      </div>
    <br><br>
    </section>
{% endblock %}