{% extends 'home/base.html' %}
{% load static %}
{% block bg-intro %} bg-matkul {% endblock %}

{% block head-footer %}

    <section id="matkul">
      <div class="matkul-content">
        <h1>Course Detail</h2>
        <br>
        <table>
          <tr>
            <th style="text-align: right">Name</th>
            <th style="text-align: left">{{ matkul.name }}</th>
          </tr>
          <tr>
            <th style="text-align: right">Credit</th>
            <th style="text-align: left">{{ matkul.credit }}</th>
          </tr>
          <tr>
            <th style="text-align: right">Lecturer</th>
            <th style="text-align: left">{{ matkul.lecturer }}</th>
          </tr>
          <tr>
            <th style="text-align: right">Description</th>
            <th style="text-align: left">{{ matkul.description }}</th>
          </tr>
        </table>
        
        <a href="/matkul/delete-course/{{matkul.id}}">
          <button style="margin-top: 30px; background-color: #F72222;">Delete Course</button>
        </a>
        <a href="/matkul"><button style="margin-left: 10px">Back</button></a>
      </div>
    </section>
    
    <section id="list-matkul">
      <h1>Course List</h1>
      <hr>
      <br>
      <! container class from bootstrap>
      <div class="container list-group">
        {% for i in matkuls %}
          <a href="/matkul/{{ i.id }}" class="list-group-item list-group-item-action mute-bg"><b>{{ i.name }}</b></a>
        {% endfor %}
      </div>
    </section>
    
{% endblock %}
