{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block bg-intro %} bg-matkul {% endblock %}

{% block head-footer %}

    <section id="matkul">
      <div class="matkul-content">
      <h1>Are you sure to delete <i>{{matkul.name}}</i> course ?</h1>
        <form method="post">
          {% csrf_token %}
          <button type="submit" style="margin-top: 30px; background-color: #F72222;"><b>Yes</b></button>
        </form>
        <a href="/matkul/{{matkul.id}}"><button>Cancel</button></a>
      </div>
    </section>

{% endblock %}