{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block bg-intro %} bg-matkul {% endblock %}


{% block head-footer %}

    <section id="matkul">
      <div class="matkul-content">
        <h1>Add Matkul</h1><br>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" style="margin-top: 30px">Submit</button>
          <a style="color: #ffffff; text-decoration: none;" href="/matkul/#list-matkul">
            <p>Slide down to see the courses</p>
          </a>
        </form>
        </div>
      </div>
    </section>
    
    <section id="list-matkul">
      <h1>Course List</h1>
      <hr>
      <h2><i>Click the course to see the detail</i></h2>
      <br>
      <! container class from bootstrap>
      <div class="container list-group">
        {% for i in matkuls %}
          <a href="/matkul/{{ i.id }}" class="list-group-item list-group-item-action mute-bg"><b>{{ i.name }}</b></a>
        {% endfor %}
      </div>
    </section>

{% endblock %}