{% extends 'home/base-solidnavbar.html' %}
{% load static %}
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'my_jquery/story7.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'my_jquery/jquery.js' %}"></script>
{% endblock %}
{% block head-footer %}


<div style="min-height:100%; margin-top:65px;">
    <br><br><br>
    <h1>Hello and welcome</h1>
    <div class="accordion">
        <div class="content">
            <div class="title">
                <a href="">Aktivitas Saat Ini</a>
                <button class="upbutton">^</button>
                <button class="downbutton">V</button>
            </div>
            <div class="description">
                <p>Wakil Penanggung Jawab staff Akademis Betis Fasilkom 2021</p>
                <p>Staff BEM Fasilkom 2020/2021 divisi Akademis dan Kepemimipinan</p>
            </div>
        </div>
        <div class="content">
            <div class="title">
                <a href="">Pengalaman Organisasi dan Kepanitiaan</a>
                <button class="upbutton">^</button>
                <button class="downbutton">V</button>
            </div>
            <div class="description">
                <p>Staff akademis Fasilkom Betis 2020</p>
                <p>Staff dokumentasi PMB Fasilkom 2020</p>
                <p>Staff humas expo campus SMA Negeri 1 Cileungsi 2019</p>
            </div>
        </div>
        <div class="content">
            <div class="title">
                <a href="">Cita-cita</a>
                <button class="upbutton">^</button>
                <button class="downbutton">V</button>
            </div>
            <div class="description">
                <p>Memiliki hati yang puas</p>
                <p>Menetap beberapa bulan di luar negeri sambil bekerja di sana, agar punya banyak pengalaman</p>
            </div>
        </div>
        <div class="content">
            <div class="title">
                <a href="">Hobi</a>
                <button class="upbutton">^</button>
                <button class="downbutton">V</button>
            </div>
            <div class="description">
                <p>Kumpul dengan teman</p>
                <p>Membaca hal yang unik</p>
                <p>Bermain game</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}


