header, body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
hr {
    background-color: #FF9C25;
    width: 50%;
}
button {
    border-radius: 7%;
    background-color: #FF9C25;
    border: none;
    color: #FDFCF0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'KoPubBatang-Bold', sans-serif;
    font-size: 20px;
}


/* Intro Layout
=========================================================*/
#intro {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 720px;
    overflow: hidden;
}

#intro-likes {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 720px;
    overflow: visible;
}

.navbar-custom { 
    font-family: 'KoHo-Bold', sans-serif;
    font-size: 20px;
}
.nav-item {
    text-align: right;
}

.bg-intro {
    position: relative;
    height: 100%;
    background: url(../images/bg-intro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-intro-likes {
    position: relative;
    height: 100%;
    background: url(../images/bg-likes.jpg);
    background-position: center;
    background-size: cover;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
}
.intro-text h1 {
    font-family: 'KoHo-Bold', sans-serif;
    font-size: 5vw;
    line-height: 0.8;
}
.intro-text h2 {
    font-family: 'KoHo-Light', sans-serif;
    font-size: 3.3vw;
    line-height: 0.8;
}
.intro-text h3 {
    font-family: 'KoHo-Regular', sans-serif;
    font-size: 3vw;
    font-weight: 700;
    line-height: 0.8;
}
/* Intro Responsive
=========================================================*/
@media only screen and (max-width:1024px) {
    .intro-text h1 {
        font-size: 6vw;
    }
    .intro-text h2 {
        font-size: 4.4vw;
    }
    .intro-text h3 {
        font-size: 4vw;
    }
}
@media only screen and (max-width:768px) {
    .intro-text h1 {
        font-size: 8vw;
    }
    .intro-text h2 {
        font-size: 5.5vw;
    }
    .intro-text h3 {
        font-size: 5vw;
    }
}

/* About Layout
=========================================================*/
#about {
    max-width: 100%;
    background: #FDFCF0;
    color: #2F2F2E;
    white-space: normal;
    overflow: hidden;
}
#about h1 {
    font-family: 'KoPubBatang-Bold', sans-serif;
    text-align: center;
    font-size: 50px;
}
#about h2 {
    font-family: 'KoPubBatang-Bold', sans-serif;
}
#about p {
    font-family: 'KoPubBatang-Regular', sans-serif;
}
    
/* ----------- Introduction class ----------- */
.introduction {
    max-width: 700px;
    text-align: center;
    position: relative;
}
.introduction img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}
.introduction .lead {
    text-align: left;
    padding-left: 120px;
}

/* ----------- Likes class ----------- */
.likes {
    max-width: 700px;
    text-align: center;
    position: relative;
}
.likes .lead {
    text-align: right;
    padding-right: 120px;
}
.likes h2 {
    line-height: 0.8;
}
.likes p {
    line-height: 0.8;
}
.likes button {
    float: right;
    transform: translate(0, -25%);
}

/* About Responsive
=========================================================*/
@media only screen and (max-width:768px) {
    #about h2 {
        margin-top: 20px;
        font-size: 30px;
    }
    .introduction img {
        height: 100px;
        width: 100px;
        float: none;
        display: inline-block;
    }
    .introduction .lead {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .likes button {
        float: none;
        display: inline-block;
        margin-bottom: none;
    }
    .likes .lead {
        margin-top: none;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
}

/* My Adventure Layout
=========================================================*/
#my-adventure {
    background: #ffffff;
    color: #2F2F2E;
    white-space: normal;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    overflow: hidden;
}
#my-adventure h1 {
    font-family: 'KoPubBatang-Bold', sans-serif;
    text-align: center;
    font-size: 50px;
}
#my-adventure h2 {
    font-family: 'KoPubBatang-Bold', sans-serif;
    text-align: center;
    font-size: 35px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 40px;
}
#my-adventure h3 {
    font-family: 'KoPubBatang-Regular', sans-serif;
    text-align: center;
    font-size: 20px;
}
#my-adventure h4 {
    font-family: 'KoPubBatang-Regular', sans-serif;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    line-height: 0.8;
}
#my-adventure .circle-img {
    width: 150px;
    height: 150x;
}

/* Contact Layout
=========================================================*/
#contact {
    background: #2F2F2E;
    color: #FFFFFF;
    font-family: 'KoHo', sans-serif;
    height: 160px;
    position: relative;
    overflow: hidden;
}

/* Likes Content
=========================================================*/
#likes-content {
    font-family: 'KoPubBatang-Regular', sans-serif;
    text-align: center;
    font-size: 30px;
    background: #FDFCF0;
    overflow: hidden;
    padding-right: 60px;
    padding-left: 60px;
}

/* Matkul Layout
=========================================================*/
#matkul {
    height: 91.8%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bg-matkul {
    position: relative;
    height: 100%;
    background: url(../images/bg-matkul.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    white-space: normal;
}

.matkul-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: left;
    color: #FFFFFF;
    padding-top: 75px;
    padding-bottom: 75px;
    font-family: 'KoHo-Regular', sans-serif;
}

.matkul-content h1 {
    font-family: 'KoHo-Bold', sans-serif;
    font-size: 3.5vw;
    text-align: center;
}

.list-group {
    font-family: 'KoHo-Bold', sans-serif;
    text-align: center;
    font-size: 20px;
}

#list-matkul {
    min-height: 100%;
    max-width: 100%;
    background: #FDFCF0;
    color: #2F2F2E;
    white-space: normal;
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

#list-matkul h1 {
    font-family: 'KoPubBatang-Bold', sans-serif;
    text-align: center;
    font-size: 50px;
}

#list-matkul h2 {
    font-family: 'KoPubBatang-Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}

.matkul-content table {
    font-size: 35px;
    color: white;
}

.matkul-content th {
    border: 1px solid white;
    padding: 20px;
}

/* Intro Responsive
=========================================================*/
@media only screen and (max-width:1024px) {
    .matkul-content h1 {
        font-size: 50px;
    }
    .matkul-content table {
        font-size: 30px;
        color: white;
    }
}
@media only screen and (max-width:768px) {
    .matkul-content h1 {
        font-size: 50px;
    }
    .matkul-content table {
        font-size: 25px;
    }
}

/* Activity Layout
=========================================================*/
.activity-content {
    min-height: 100%;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    font-family: 'KoHo-Bold', sans-serif;
}

.card {
    width: 700px;
    text-align: center;
    position: relative;
}

.card .top {
    background: #2F2F2E;
    color: #FDFCF0;
}

.card .bot {
    text-align: center;
    background: #FDFCF0;
    color: black;
    font-family: 'KoPubBatang-Regular', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Activity Responsive
=========================================================*/
@media only screen and (max-width:1024px) {
    .activity-content {
        padding-right: 50px;
        padding-left: 50px;
    }
    .card {
        max-width: 650px;
    }
}
@media only screen and (max-width:768px) {
    .activity-content {
        padding-right: 20px;
        padding-left: 20px;
    }
    .card {
        max-width: 600px;
    }
}