h1 {
    text-align: center;
}

.accordion {
    margin: 50px;
    background: white;
}

.accordion .title, .accordion .description {
    padding: 10px;
    border: 1px solid black;
}

.accordion. .title {
    color:white;
    margin: 100px;
    padding: 100px;
}

.accordion .description {
    text-align: left;
    font-size: 20px;
    background: #ffffff;
}

a {
    text-align:left;
    color:black;
    font-weight: bold;
    text-decoration: initial;
}

button {
    float: right;
    margin-left: 10px;
}
