{% extends 'home/base-solidnavbar.html' %}
{% load static %}
{% block head-footer %}
{% load crispy_forms_tags %}

<body style="padding-top: 64px;">
  <div class="activity-content">
    <h1 style="font-family: 'KoPubBatang-Regular', sans-serif;">Hello and welcome!</h1>
    <hr>
    <button data-toggle="modal" data-target="#tambahKegiatan" >Add Activity</button>
    <br><br>
    {% for i in listObject %}
    
      <div class="col-12 d-flex justify-content-center">
        <div class="card">
          <div class="top">
            <h2>{{ i.0.name }}</h2>
            <h4><i>"{{ i.0.description }}"</i></h4>
          </div>
          <div class="bot">
            <h4><b>Participant:</b></h4>
            {% for j in i.1 %}
              <h5>- {{ j.name }}<h5>
            {% endfor %}
            <button data-toggle="modal" data-target="#tambahParticipant{{ i.0.id }}" style="background: #FFD100;">Sign Up</button>
          </div>
        </div>
      </div>
      <br>
      <div class="modal fade" id="tambahParticipant{{i.0.id}}" tabindex="-1" aria-labelledby="tambahParticipantTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign up for {{ i.0.name }}?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="{% url 'aktivitas:addObject' %}" method="post">
                <div class="modal-body">
                  {% csrf_token %}
                  <input name="id_kegiatan" type="hidden" value="{{ i.0.id }}">
                  <label for="name_participant">Name: </label>
                  <input id="name_participant" name="name_participant" type="text" autofocus>
                </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Sign up</button>
          </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
            
  <div class="modal fade" id="tambahKegiatan" tabindex="-1" aria-labelledby="tambahKegiatanTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Daftar Ikut Acara {{ hasil.0.NamaKegiatan }} ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'aktivitas:addObject' %}" method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="nama_kegiatan">Activity Name: </label>
              <input id="nama_kegiatan" name="nama_kegiatan" type="text" autofocus>
            </div>
            <div class="form-group">
              <label for="deskripsi_kegiatan">Activity Description: </label>
              <input id="deskripsi_kegiatan" name="deskripsi_kegiatan" type="text" autofocus>
            </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}