{% extends 'home/base-solidnavbar.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block custom-css %}
    <!-- Custom CSS for this particular html -->
    <style>
        .content {
            text-align: center;
            margin-left: 30%;
            margin-right: 30%;
        }
    </style>
{% endblock %}
{% block head-footer %}
<div class="content" style="padding-top:65px; min-height:100%;">
    <br><br>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit">Login</button>
        <p>dont have an account? <a href="/djangologin/register/">Register</a> one!
    </form>
    <br><br>
</div>
{% endblock %}